div {
    width: 60%;
    min-height: 50px;
    background-color: #fff;
    text-align: center;
    margin: auto;
}

input, button, span {
    display: block;
    width: 30%;
    min-width: 200px;
    margin: auto;
}