:root {
    overflow:hidden;
}

body {
    background-color: #005a00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#block {
    width: 60%;
    min-height: 50px;
    height: 200px;
    background-color: #bfffbf;
    text-align: center;
    border-radius: 20px;
}

h1 {
    padding: 0;
    margin: 0 0 20px 0;
}

input, button {
    display: block;
    min-width: 200px;
    margin: auto;
    margin-top: 10px;
}

button {
    border-radius: 10px;
    background-color: #ffffff;
    border: green 3px solid;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

#result {
    display: block;
    margin: auto;
    width: 40%;
    height: 20px;
}